<div class="top_navigation" id="myTopnav">
    <a href="/"> 
        <img src="/resources/images/logo.png"/>
    </a>
    <a href="/statistici.html" id="statistics_link">
        <p>Statistici</p>
    </a>
    <a href="/contact.html" id="contact_link">
        <p>Contact</p>
    </a>
    <a href="/despre.html" id="about_link">
        <p>Despre</p>
    </a>
    <a href="/login.html" id="login_link" class="float-right">
        <p>Autentifica</p>
    </a>
    <!-- <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div> -->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<script>
    switch(window.location.pathname)
    {
        case "/statistici.html":
        case "/statistici_judet.html":
            document.getElementById("statistics_link").className = "active";
            break;
        case "/contact.html":
            document.getElementById("contact_link").className = "active";
            break;
        case "/despre.html":
            document.getElementById("about_link").className = "active";
            break;
        case "/login.html":
        case "/register.html":
            document.getElementById("login_link").className = "float-right active";
            break;
    }
</script>