<div class="top_navigation" id="myTopnav">
    <a href="/"> 
        <img src="/resources/images/logo.png"/>
    </a>
    <a href="/statistici.html">
        <p>Statistici</p>
    </a>
    <a href="/contact.html">
        <p>Contact</p>
    </a>
    <a href="/despre.html">
        <p>Despre</p>
    </a>
    <!-- <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div> -->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>