<div class="top_navigation">
    <a href="/"> 
        <img src="/resources/images/logo.png"/>
    </a>
    <a href="#contact">
        <p>Statistici</p>
    </a>
    <a href="#contact">
        <p>Contact</p>
    </a>
    <a href="#about">
        <p>Despre</p>
    </a>
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Cauta..." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>