$backgroundColor: #282828;
$navbarColor: #212121;
$navbarHoverColor: #473d3d;
$accentColor: #6F1E51;

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  margin: 0;
  background-color: $backgroundColor;
}

.top_nav_holder {
  position:absolute; top:0; width: 100%;  
  opacity: 0.5;
}

.top_navigation {
  z-index: 999;
  overflow: hidden;
  background-color: transparent;
  transition: 0.25s background-color;

  a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding-left: 16;
    padding-right: 16;
    height: 104px;

    p {
      font-family: 'Righteous', cursive;
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 12px;
      font-size: 24px;
    }

    img {
      height: 100px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  a:hover{
    background-color: $navbarHoverColor;
  }

  .active {
    box-shadow: inset 0 -5px 0 white;
  }
  
  .float-right {
    float: right;
  }
  
  input[type=text] {
    padding: 6px;
    color: white;
    font-size: 24px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $backgroundColor;
  }

  .icon {
    display: none;
    padding: 15px;
  }
}

.main_page_description_box { 
  background-color: $backgroundColor;
  color: white;
  position: absolute;
  top: 250px;
  left: 50px;
  padding: 40px;
  border-radius: 10px;
  opacity: 0.8;
  max-width: 500px;

  button {
    background: linear-gradient(45deg, rgb(40, 38, 38),#2d2d2d,#3a3939,#464444,#646161);
    font-size: 16px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
  }

  button:hover{
    border: 1px solid $accentColor;
  }
}

.contact_page_description_box { 
  background-color: $backgroundColor;
  color: white;
  position: absolute;
  top: 160px;
  left: 50px;
  padding: 20px;
  padding-top: 10px;
  border-radius: 10px;
  opacity: 0.9;

  textarea {
    background-color: gray;
    width: 400px;
    color: white;
    
  }
}

.stats_page_description_box { 
  background-color: white;
  color: white;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%,0);
  padding: 40px;
  border-radius: 10px;
  opacity: 0.7;

  svg {
    width: 600px;
  }
}

.login_page_box { 
  background-color: $navbarColor;
  color: white;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%,0);
  padding: 40px;
  border-radius: 10px;
  opacity: 0.9;
  
  h1 {
    text-align: center;
  }

  input {
    min-width: 300px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: none!important;
    outline: none!important;    
  }

  button {
    font-size: 16px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  select {
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .top_nav_holder{
    opacity: 1!important;
  }  
  .top_navigation a:not(:first-child) {display: none;}
  .top_navigation a.icon {
    float: right;
    display: block;
  }
  .top_navigation.responsive {
    position: relative;
    background-color: $navbarColor;
  }
  .top_navigation.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top_navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .top_navigation {
    a {
      height: auto;
     p{
      padding-top: 0;
      padding-bottom: 0;
     } 
    }
    .active {
      box-shadow: none;
    }

    .float-right{
      float: initial;
    }
  }

  .main_page_description_box {
    position: initial;
  }

  .contact_page_description_box{
    position: initial;
  }
  
  .stats_page_description_box {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
  }

  .login_page_box {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
  }
}

.admin_form {
  color: white;
  padding: 10px;
  width: 80%;
  display: block;
  margin: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid $navbarHoverColor;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: $navbarHoverColor;
}

.justify_between{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.table_bottom_container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .selectBox{
    padding: 10px;
    padding-top: 30px;
  }
}

.pagination {
  margin-top: 20px;
  width: 60%;
  display: inline-block;
}

.pagination a, .pagination .pagesList a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active, .pagination .pagesList a.active {
  background-color: rgb(68, 59, 59);
  color: white;
}

.col_2_row_container {
  width: 100%;
  display: flex;

  .row {
    display: inline-block;
    flex: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .col_2_row_container {
    display: block;

    .row {
      display: block;      
    }
  }
}

.vertical_center {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;

  .child {
    display: flex;
    align-items: center;

    li {
      margin: 10px 0;
    }
  }
}





