$backgroundColor: #282828;
$navbarColor: #212121;
$navbarHoverColor: #473d3d;
$accentColor: #6F1E51;

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  margin: 0;
  background-color: $backgroundColor;
}

.top_nav_holder {
  position:absolute; top:0; width: 100%;  
  opacity: 0.5;
}

.top_navigation {
  z-index: 999;
  overflow: hidden;
  background-color: transparent;
  transition: 0.25s background-color;

  a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding-left: 16;
    padding-right: 16;
    height: 104px;

    p {
      font-family: 'Righteous', cursive;
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 12px;
      font-size: 24px;
    }

    img {
      height: 100px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  a:hover{
    background-color: $navbarHoverColor;
  }
  
  .search-container {
    margin-top: 32px;
    float: right;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 16px;

    button {
      float: right;
      padding: 6px 10px;
      background: #ddd;
      font-size: 24px;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background: #ccc;
    }
  }
  
  input[type=text] {
    padding: 6px;
    color: white;
    font-size: 24px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $backgroundColor;
  }

  .icon {
    display: none;
    padding: 15px;
  }
}

.homepage_background {
  z-index: -1;
  margin-top: -104px;
  width: 100vw!important;
}

.main_page_description_box { 
  background-color: $backgroundColor;
  color: white;
  position: absolute;
  top: 250px;
  left: 50px;
  padding: 40px;
  border-radius: 10px;
  opacity: 0.8;
  max-width: 500px;

  button {
    background: linear-gradient(45deg, rgb(40, 38, 38),#2d2d2d,#3a3939,#464444,#646161);
    font-size: 16px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
  }

  button:hover{
    border: 1px solid $accentColor;
  }
}

.contact_page_description_box { 
  background-color: $backgroundColor;
  color: white;
  position: absolute;
  top: 160px;
  left: 50px;
  padding: 20px;
  padding-top: 10px;
  border-radius: 10px;
  opacity: 0.9;

  textarea {
    background-color: gray;
    width: 400px;
    color: white;
    
  }
}

.stats_page_description_box { 
  background-color: white;
  color: white;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%,0);
  padding: 40px;
  border-radius: 10px;
  opacity: 0.7;

  svg {
    width: 600px;
  }

}

@media screen and (max-width: 600px) {
  .top_nav_holder{
    opacity: 1!important;
  }  
  .top_navigation a:not(:first-child) {display: none;}
  .top_navigation a.icon {
    float: right;
    display: block;
  }
  .top_navigation.responsive {
    position: relative;
    background-color: $navbarColor;
  }
  .top_navigation.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top_navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .top_navigation {
    a {
      height: auto;
     p{
      padding-top: 0;
      padding-bottom: 0;
     } 
    }
  }

  .main_page_description_box {
    position: initial;
  }

  .contact_page_description_box{
    position: initial;
  }
  
  .stats_page_description_box {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
  }
}
